/* you can add to or change this. */


body {
  margin: auto;
  justify-content: center;
  font-family: "montserrat", sans-serif !important;
  background-color: white;
  width: 100%;
  text-align: center;
}

#game {
  margin: auto;
  width: 100%;
  height: 100vh;
}

.btn-group {
  text-align: center;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn.is-done {background-color: #8772c0;}
.submit-btn.is-done:hover {background-color: #6f53bb;}

.submit-btn {
  background-color: #c7c3d3;
  cursor: default;
}

.start-btn {background-color: #dd85b8;}
.start-btn:hover {background-color: #db66aa;}



h1 {
  position: relative;
  color: rgb(68, 68, 68);
  margin-top: 2rem;
}

.inner {
  width: 100px;
  height: 120px;
  border-radius: 5px;
  margin: 20px;
  justify-content: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  perspective: 1000px;
  display: inline-block;

}



h1 {
  text-align: center;
}

.inner.is-flipped {
  transform: rotateY(180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0px 2px 2px 2px rgba(167, 66, 145, 0.2);
  perspective: 1000px;
}

.card_face--front {
  background: linear-gradient(#ff9dbe, #abb3ff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.card_face--front:hover {
  opacity: 0.7;
}

.card_face--back {
  transform: rotateY(180deg);
  perspective: 1000px;
  color: rgba(0, 0, 0, 0);
}

.popup {
  margin-top: 0.5rem;
  height: 20px;
  width: 100%;
  color: rgb(119, 119, 119);
}

.counter {
  height: 50px;
  width: 50px;
  background-color: #e0d7f7;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
}
